<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="endeffector" params="prefix">
  <link name="k4a_mount">
    <visual>
      <origin xyz=" 0. 0. 0." />
      <geometry>
        <mesh filename="package://project_description/meshes/k4a_mount/visual/k4a_mount.dae" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.15 0.15 0.20" />
      </geometry>
    </collision>
  </link>
  
  <!-- Include Azure Kinect DK -->
  <xacro:include filename="$(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro" />
  <joint name="k4a_joint" type="fixed">
    <parent link="k4a_mount" />
    <child link="camera_base" />
    <origin xyz="0 -0.05 -0.125" rpy="0 ${pi/2} ${-pi/2}"/>
  </joint>
  
  
  
  </xacro:macro>
</robot>
